body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #BB8FCE  ;
}

.quem-somos{
    background-color: #F7DC6F;
    color: black;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #F5B7B1  ;
}

.bg-footer{
    background-color: black;
    color: white;
}